<div class="h-full w-full bg-gray-300 bg-gradient-to-b from-gray-300 to-gray-100">
  <nav class="text-gray-600 flex justify-between mx-auto container w-full py-3 h-24">
    <div class="text-3xl">
      Thomas Renovations
    </div>
    <div class="flex space-x-4">
      <a class=" text-gray-500 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2" href="#jobs">Jobs</a>
      <a class=" text-gray-500 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2" href="#contact">Contact</a>
    </div>
  </nav>

  <section class="h-full flex justify-between  w-full mx-auto container space-x-6">
    <div class="max-w-md">
      <span class="font-medium text-amber-600">Reach out to Thomas</span>
      <p class="text-6xl font-bold tracking-tighter leading-tight">
        Looking For Home Renovations?
      </p>
      <p class="pt-8 text-lg font-normal text-gray-800">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum explicabo fuga vitae magni ipsam nostrum
        consectetur iusto natus perferendis, atque temporibus quis beatae omnis reprehenderit laudantium expedita sint
        qui et.
        Dolor tenetur reprehenderit cumque, odio quidem provident recusandae suscipit fugit repudiandae vitae, qui
        aperiam exercitationem necessitatibus, itaque sint facere! Vero voluptas doloribus est blanditiis! Aliquam earum
        commodi id totam corporis!

      </p>
      <div>
        <button routerLink="#jobs"
          class="focus:outline-none text-white bg-amber-600 hover:bg-amber-500 focus:ring-4 focus:ring-amber-300 font-medium rounded-lg text-lg px-5 py-2.5 mr-2 my-2">
          Learn more
        </button>
      </div>
    </div>
    <div class="px-6 bg-cover w-full">
      <img src="/assets/pexels-pixabay-159045.jpg" alt="" class="">
    </div>
  </section>

  <section id="jobs" class="h-full w-full mx-auto container py-6">
    <div class="grid grid-cols-4 gap-2">
      <div class="col-span-2 flex items-center justify-center">

        <div class="text-6xl font-bold tracking-tighter leading-tight ">Standard Jobs</div>
      </div>

      <app-card *ngFor="let job of jobs" [image]="job.image" [title]="job.title"></app-card>
    </div>
  </section>
  <section id="contact" class="h-52 w-full bg-gray-300">
    <div class="mx-auto container h-full w-full py-6 max-w-screen-xl p-4 flex flex-col space-y-2">

      <div class="text-lg font-medium text-gray-800">Contact Details:</div>
      <div class="text-lg font-normal text-gray-800">Mobile: 000000000</div>
      <div class="text-lg font-normal text-gray-800">Email: thomas@gmail.com</div>
    </div>
  </section>

  <footer class="bg-white rounded-lg shadow  w-full">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="https://flowbite.com/"
          class="hover:underline">Thomas Renovations</a>. All Rights Reserved.
      </span>
      <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
          Made by <a href="https://zwelc.dev" target="_blank">Zwelc</a>
        </li>

      </ul>
    </div>
  </footer>
</div>